<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.example.reader.processor.ManualProcessor" id="manualProcessor"/>
    <bean class="com.example.reader.processor.RegexProcessor" id="regexProcessor"/>
    <bean class="com.example.reader.processor.LibraryProcessor" id="libraryProcessor"/>

    <bean class="com.example.reader.reader.PlainTextReader" id="plainTextReaderWithManualProcessor">
        <property name="processor" ref="manualProcessor"/>
    </bean>

    <bean class="com.example.reader.reader.XMLTextReader" id="xmlTextReaderWithManualProcessor">
        <property name="processor" ref="manualProcessor"/>
    </bean>
</beans>